In [89]:
la_variable = 20
print (la_variable)

20

In [90]:
variable_2 = 8.5
type(variable_2)

float

In [91]:
type (la_variable)

int

In [92]:
la_variable_mi_nombre = 'Maria Celis'
print (la_variable_mi_nombre)

Maria Celis

In [93]:
la_variable_compleja = 1 +2j
type (la_variable_compleja)

complex

In [94]:
type (la_variable_compleja)

complex

In [95]:
la_variable_pi_con_4 = (3.1416)

In [96]:
variable_contenido_true = 'True'
variable_valor_true =True

In [97]:
print ('la variable_true es de tipo', type (variable_contenido_true), 'la variable_valor_true es de tipo', type (variable_valor_true))

la variable_true es de tipo <class 'str'> la variable_valor_true es de tipo <class 'bool'>

In [98]:
variable_1 = 2
variable_2 = 2.3
variable_suma = variable_1 + variable_2
print (variable_suma)

4.3

In [99]:
x = 1 + 8j
y = 2 + 3j
print (x+y)

(3+11j)

In [100]:
x = 1.4
y = 2 + 3j
print (x+y)

(3.4+3j)

In [101]:
x = 6
y = 2 
print (x*y)

12

In [102]:
x = 2
y = 8
print (x**y)

256

In [103]:
x = 27
y = 4
print (x/y)

6.75

In [104]:
x = 27
y = 4
print (x//y)

6

In [105]:
x = 27
y = 4
print (x%y)

3

In [106]:
t= y * 6 + 3
print (t)

27

In [107]:
variable_alfanumerica1 = 'Los'
variable_alfanumerica2 = ' Teques'
print(variable_alfanumerica1 + variable_alfanumerica2)

Los Teques

In [108]:
variable2 = 2
variablequepuedeser2 = '2'
variable2 == variablequepuedeser2

False

In [109]:
variable2 = 2
variablequepuedeser2 = '2'
variable_de_conversion_entrada_hacia_entero = int (variablequepuedeser2)
variable2 == variable_de_conversion_entrada_hacia_entero

True

In [110]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [ ]:
variable_3_disminuyendo = 3
variable_3_disminuyendo -= 1
print (variable_3_disminuyendo)

2

In [ ]:
1 << 2

4

In [ ]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [111]:
2 + int ('2')

4

In [112]:
str (2) + '2'

'22'

In [115]:
variable_1 = 'este texto se repite, '
variable_2 = 2
print(variable_1 * variable_2 + str(variable_2) + ' veces')

este texto se repite, este texto se repite, 2 veces